{% extends "base.html" %}
{% block title %}
    Home Page
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card text-center">
        <div class="card-body">
            <h1 class="card-title">The Quizest Quiz</h1>
            <h2 class="card-subtitle mb-2 text-muted">How many can you get correct?</h2>
            <a href="{{ url_for('auth.login') }}" class="btn btn-primary mt-3">Login to Play!</a>
        </div>
    </div>
</div>
{% endblock %}
