{% extends "base.html" %}
{% block title %}Login Page{% endblock %}

<!-- Login Form -->
{% block content %}
<!-- Flashed Message Block -->
<div class="container mt-3 d-flex justify-content-center">
    {% with messages = get_flashed_messages() %}  
        {% if messages %} <!-- Check if there are any messages -->
            <div class="flashed-messages text-center">
                {% for msg in messages %}
                    <p>{{msg}}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
</div>

    <!-- SignUp Card -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h2>Login</h2>
                </div>
                <div class="card-body">
                    <form method="POST" action="{{ url_for('auth.login') }}">
                        <div class="form-group mb-3">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" class="form-control" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" class="form-control" required>
                        </div>
                        <button type="submit" id="login-btn" class="btn btn-primary w-100">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Sign Up link card -->
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <p class="signup">Don't have an account?
                        <a rel="noopener noreferrer" href="sign-up" class="">Create an account</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}