{% extends "base.html" %}
{% block title %}View All Questions{% endblock %}
{% block content %} 
    <h2>All Questions</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Question Text</th>
                <th>Answer</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {% for item in values %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.question_text }}</td>
                    <td>{{ item.answer }}</td>
                    <td>
                        <ul>
                            {% for option in item.options %}
                                <li>{{ option }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
