{% extends "base.html" %}

{% block title %}View All Questions{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='datatable.css')}}">
{% endblock %}

<!-- Table to display questions in database -->
{% block content %} 
    <h2>All Questions</h2>
    <table>
        <!-- Column headers -->
        <thead>
            <tr>
                <th>ID</th>
                <th>Question Text</th>
                <th>Answer</th>
                <th>Options</th>
            </tr>
        </thead>
        <!-- Table for questions -->
        <tbody>
            {% for item in values %} <!-- For each question in db -->
                <tr>
                    <td>{{ item.id }}</td> <!-- Question ID -->
                    <td>{{ item.question_text }}</td> <!-- Question Text -->
                    <td>{{ item.answer }}</td> <!-- Correct Answer -->
                    <td>
                        <!-- Creates list of answer options -->
                        <ul>
                            {% for option in item.options %}
                                <li>{{ option }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
