{% extends "base.html" %}

{% block title %}View All Users{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='datatable.css')}}">
{% endblock %}

{% block content %} 
    <h2>All Users</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Password (Hashed)</th>
                <th>Best Streak</th>
                <th>Total Questions Solved</th>
                <th>Difficulty</th>
            </tr>
        </thead>
        <tbody>
            {% for item in values %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.password }}</td>
                    <td>{{ item.best_streak }}</td>
                    <td>{{ item.total_solved }}</td>
                    <td>{{ item.difficulty }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
