{% extends "base.html" %}

{% block title %}View All Users{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='datatable.css')}}">
{% endblock %}

<!-- Table to display users -->
{% block content %} 
    <h2>All Users</h2>
    <table>
        <!-- Table Column Titles -->
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <!-- <th>Password (Hashed)</th> -->
                <th>Best Streak</th>
                <th>Total Questions Solved</th>
                <th>Difficulty</th>
                <th>Theme</th>
                <th>Level</th>
            </tr>
        </thead>
        <!-- Main table to display users -->
        <tbody>
            {% for item in values %} <!-- For each row in users db -->
                <tr>
                    <td>{{ item.id }}</td> <!-- User ID -->
                    <td>{{ item.name }}</td> <!-- Username -->
                    <td>{{ item.email }}</td> <!-- User Email -->
                    <!-- <td>{{ item.password }}</td> -->
                    
                    <!-- User Stats -->
                    <td>{{ item.best_streak }}</td>
                    <td>{{ item.total_solved }}</td>
                    <td>{{ item.difficulty }}</td>
                    
                    <td>{{ item.theme }}</td> <!-- If user has light or dark mode toggled -->
                    <td>{{ item.level }}</td> <!-- User Level -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
